.header {
  display: flex;
  justify-content: center;
}

.header-text {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  padding: 12px;
}
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  display: none;
}
.RED_LINE {
  text-decoration: line-through;
  color: red;
}
